@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0px;
}

.footer-content {
  margin: 0px 200px 20px;
}

.footer-section {
  flex: 1;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
}

.phone-number,
.address {
  margin: 5px 0;
}


.about-us {
  display: flex;
  align-items: center;
}

.about-us-image {
  flex: 0 0 50%;
  /* Adjust the width as needed */
}

.about-us-image img {
  max-height: 300px;
  /* Set the maximum height to 200px */
  width: auto;
  /* Preserve the image's aspect ratio */
}

.about-us-text {
  padding: 40px;
  flex: 0 0 50%;
  /* Adjust the width as needed */
}

/* Rest of your existing CSS code */


.navbar {
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar button {
  height: 40px;
}

.navbar-toggle {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/menu.png);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

.navbar-brand img {
  margin: 0 20px;
  height: 35px;
}

.search-form {
  margin-left: auto;
  display: flex;
}

.search-bar {
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: black;
  background-color: #D9D9D9;
  /*background-image: url(../icons/search.png);*/
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 10px 12px px;
}

.search-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.username-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.cart {
  display: flex;
}

.cart-button {
  background-image: url(../images/icons/shopping-cart.png);
  background-size: cover;
  border: none;
  padding: 5px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.content {
  margin: 95px 200px 50px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-subTitle {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.segmented-control {
  display: flex;
  margin-bottom: 20px;
}

.segmented-control-item {
  background-color: #f8f8f8;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.segmented-control-item:last-child {
  border-right: none;
}

.segmented-control-item.selected {
  border: 2px solid #6C63FF;
  font-weight: 700;
}

.item-list {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 310px;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.item2 {
  width: 290px;
  height: 130px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.item-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: top center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item-text {
  margin-top: 10px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: #000;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-button {
  background-color: #f1f1f1;
  border: none;
  color: #000;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #6C63FF;
  color: white;
}

.hierarchy {
  margin-top: 20px;
  font-size: 14px;
  color: #6C63FF;
}

.title {
  margin-top: 20px;
  font-size: 48px;
}

.subtitle {
  font-size: 20px;
  color: #888;
}

.info-section {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.info-section .horizontal-divider {
  display: flex;
  align-items: flex-start;
  /* Align content to the top left */
  justify-content: space-between;
}

.info-section .horizontal-divider .info-part {
  flex-basis: calc(33.33% - 10px);
  padding: 10px;
}

.info-section .image-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section .image-part img {
  max-height: 300px;
  width: auto;
  border-radius: 4px;
}

.details-section {
  margin-top: 20px;
}

.details-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.details-section .details-text {
  margin-bottom: 10px;
}

.details-section .details-buttons {
  display: flex;
  margin-top: 20px;
}

.details-section .details-buttons .button {
  border: 1px solid #000;
  width: 100px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
}

.details-section .details-buttons .button:last-child {
  background-color: #6C63FF;
  border: none;
  color: #fff;
  margin-left: 10px;
}

.availability {
  margin-bottom: 20px;
}

.section-title,
.availability-title {
  text-align: left;
}


.availability-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.availability-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.availability-button {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  margin: 3px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  background-color: #F7FF98;
}

.red {
  background-color: #FF9D9D;
}

.green {
  background-color: #AFFFD9;
}

.gray {
  background-color: #D9D9D9;
}

.item-list-material {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-material {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
}

.item-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-title-material {
  font-size: 30px;
  color: #6C63FF;
  width: 400px;
}

.item-details-material {
  flex: 1;
  margin-left: 20px;
}

.item-subtitle-material {
  font-size: 18px;
  font-weight: bold;
}

.item-text-material {
  margin-top: 10px;
}

.item-buttons-material {
  display: flex;
  gap: 10px;
}

.custom-button {
  background-color: #6C63FF;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 42;
}